body {
    background: url('fundo-exercito.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #169B62;
    font-size: 24px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.login {
    background: #169B62;
}

.register {
    background: #FF883E;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
